<aside>
<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <hgroup>
            <h2 class="brand-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            <h2 class="brand-tagline">{{ with .Site.Params.description }} {{.}} {{end}}</h2>
        </hgroup>
        <!-- sidebar menu start-->
        <nav class="nav">
            <ul class="nav-list">
                {{ with .Site.Params.twitter }}
                <li class="nav-item">
                    <a class="pure-button" href="http://twitter.com/{{ . }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a>
                </li>
                {{ end }}
                {{ with .Site.Params.github }}
                <li class="nav-item">
                    <a class="pure-button" href="http://github.com/{{ . }} " target="_blank"><i class="fa fa-github-square"></i> github</a>
                </li>
                {{ end }}
                {{ with .Site.Params.linkedin }}
                <li class="nav-item">
                    <a class="pure-button" href="http://linkedin.com/in/{{ . }} " target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                </li>
                {{ end }}
                {{ if .RSSlink }}
                <li class="nav-item">
                    <a class="pure-button" href="{{ .RSSlink }}" type="application/rss+xml" target="_blank"><i class="fa fa-rss-square"></i> RSS</a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <!-- sidebar menu end-->
        <!-- sidebar menu from config file start -->
        <ul class="sidebar-menu">
          {{ $currentNode := . }}
          {{ range .Site.Menus.main }}
              {{ if .HasChildren }}

            <li class="sub-menu{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
            <a href="javascript:;" class="">
                {{ .Pre }}
                <span>{{ .Name }}</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                {{ range .Children }}
                <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
                {{ end }}
            </ul>
            {{else}}
            {{ if .Identifier }}
            <li>
            <a class="" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
            {{end}}
          {{end}}
          </li>
          {{end}}
        </ul>
        <!-- sidebar menu from config file end -->
        </div>
    </div>
</aside>
